.cabeça {
  background-color: rgb(26, 26, 135);
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  font-size: 30px;
}
.experience {
  margin-top: 0px;
  color: white;
  min-height: 100vh;
  display: flex;
}
.frontEndSkills {
  background-color: rgb(105, 152, 246);
  flex: 1;
  border-radius: 150px;
  border: 0.5px solid black;
}
.skills {
  align-items: center;
  text-align: center;
  padding-top: 100px;
  line-height: 50px;
  font-size: 20px;
}
.otherSkills {
  background-color: rgb(105, 152, 246);
  flex: 1;
  border-radius: 150px;
  border: 0.5px solid black;
}
.titleExperience {
  text-align: center;
  font-size: 30px;
}
.array {
  background-color: rgb(26, 26, 135);
  min-height: 100vh;
  color: white;
  justify-content: center;
  text-align: center;
}
.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 100px;
}
.titleProject {
  padding-top: 30px;
  margin-top: 0;
}
.project {
  padding-top: 100px;
  text-decoration: none;
}
.projectBackground {
  background-color: rgb(105, 152, 246);
  color: white;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  padding: 20px;
}
.projectBackground:hover {
  background-color: black;
  transition: 1seg;
}
.titleContact {
  margin-top: 0px;
  text-align: center;
  padding-top: 30px;
}
.contact {
  background-color: rgb(130, 238, 130);
  min-height: 100vh;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  margin: 0 auto;
}
.link {
  justify-content: center;
  color: black;
  font-size: 50px;
  display: grid;
  padding: 50px;
}
.email {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.input {
  margin-bottom: 20px;
  display: block;
  align-items: center;
  text-align: center;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
}

@media only screen and (max-width: 550px) {
  .cabeça {
    font-size: 20px;
  }
  .frontEndSkills {
    border-radius: 50px;
  }
  .otherSkills {
    border-radius: 50px;
  }
}
