.header {
  background-color: #21295c;
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
}
.header p {
  font-size: 30px;
}
.header h1 {
  font-size: 40px;
}
.experience {
  margin: 0px auto;
  color: white;
  min-height: 90vh;
  width: 90%;
  max-width: 1000px;
  gap: 50px;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}
.frontEndSkills {
  border-radius: 20px;
  border: 0.5px solid black;
  flex: 1;
  background-color: #065a82;
}
.skills {
  align-items: center;
  text-align: center;
  padding-top: 30px;
  line-height: 50px;
  font-size: 30px;
}
.otherSkills {
  background-color: rgb(105, 152, 246);
  border-radius: 20px;
  flex: 1;
  border: 0.5px solid black;
  background-color: #065a82;
}
.titleExperience {
  text-align: center;
  font-size: 60px;
}
.array {
  min-height: 100vh;
  color: white;
  justify-content: center;
  text-align: center;
  padding-bottom: 30px;
  background-color: #21295c;
}
.allProjects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
}
.titleProject {
  padding-top: 30px;
  margin-top: 0;
  font-size: 60px;
}
.projectTitle {
  font-size: 30px;
}
.project {
  padding-top: 100px;
  text-decoration: none;
  font-size: 15px;
}
.projectBackground {
  background-color: #065a82;
  color: white;
  height: 200px;
  width: 200px;
  border-radius: 20px;
  padding: 10px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.projectBackground:hover {
  background-color: #21295c;
  transition: 1seg;
  border: 1px solid black;
}
.titleContact {
  margin-top: 0px;
  text-align: center;
  padding-top: 30px;
  font-size: 60px;
}
.contact {
  background-color: white;
  min-height: 100vh;
  justify-content: center;
}
.links {
  display: flex;
  justify-content: center;
  max-width: 1000px;
  width: 90%;
  margin: 0 auto;
  flex-wrap: wrap;
  gap: 50px;
}
.link {
  justify-content: center;
  color: black;
  font-size: 50px;
  display: flex;
  flex-direction: column;
  gap: 70px;
}
.email {
  flex: 1;
  justify-content: center;
  margin-top: 70px;
  min-width: 300px;
}
.input {
  display: block;
  margin-bottom: 10px;
  text-align: start;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  height: 45px;
  width: 100%;
  padding: 10px;
  font-size: 16px;
  background-color: #f3f3f3;
}
.messageInput {
  padding: 10px;
  font-size: 16px;
  display: block;
  width: 100%;
  height: 150px;
  margin-bottom: 10px;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 5px;
  text-align: start;
  resize: none;
  background-color: #f3f3f3;
}
.sendEmailButton {
  border-radius: 5px;
  border: 1px solid black;
  align-items: center;
  height: 50px;
  width: 200px;
  cursor: pointer;
  font-size: 16px;
  background-color: #f3f3f3;
}
@media only screen and (max-width: 640px) {
  .cabeça h1 {
    font-size: 60px;
  }
  .cabeça p {
    font-size: 20px;
  }
  .experience {
    gap: 20px;
    padding: 10px 0;
    min-height: 70vh;
  }
  .titleExperience {
    font-size: 40px;
  }
  .skills {
    font-size: 20px;
  }
  .frontEndSkills {
    border-radius: 20px;
    font-size: 20px;
  }
  .titleProject {
    font-size: 40px;
  }
  .projectTitle {
    font-size: 20px;
  }
  .titleContact {
    font-size: 40px;
  }
}
@media only screen and (max-width: 625px) {
  .allProjects {
    justify-content: center;
  }
}
@media only screen and (max-width: 620px) {
  .projectBackground {
    margin-top: -50px;
  }
}

@media only screen and (max-width: 480px) {
  .cabeça h1 {
    font-size: 40px;
  }
  .cabeça p {
    font-size: 20px;
  }
  .experience {
    gap: 20px;
    padding: 10px 0;
  }
  .titleExperience {
    font-size: 30px;
  }
  .frontEndSkills {
    border-radius: 20px;
    font-size: 15px;
  }
  .otherSkills {
    border-radius: 15px;
  }
  .titleProject {
    font-size: 30px;
  }
  .email {
    max-width: 200px;
  }
  .sendEmailButton {
    margin-bottom: 20px;
  }
  .link {
    margin-top: 40px;
    gap: 10px;
  }
  .titleContact {
    font-size: 30px;
  }
}
